[package]
name = "Renderer"
version = "0.1.0"
build = "build.rs"
edition = "2018"

[dependencies]
ash = "0.28.0"
cgmath = "0.17"
parking_lot = "0.7.0"
gltf = "0.11.2"
hashbrown = "0.1.8"
image = "0.21"
imgui = "0.0.22"
meshopt = "0.1.3"
num-traits = "0.2.6"
winit = "0.19.0"
rayon = "1.0"
smallvec = "0.6.9"
specs = { git = "https://github.com/farnoy/specs" }
specs-derive = { git = "https://github.com/farnoy/specs" }
shred = "0.7.1"

[[bin]]
name = "v4"
path = "src/v4.rs"

[build-dependencies]
bindgen = "0.48.1"

[target.'cfg(windows)'.dependencies]
winapi = "0.3.5"

[features]
default = []
validation = []
renderdoc = ["validation"]
